<%= form_with do |f| %>
  <%= f.label :query, "Search For" %>
  <%= f.text_field :query %>
  <%= f.submit "Search" %>
<% end %>

<br>
<br>

<table>
  <thead>
    <th> ID </th>
    <th> Title </th>
    <th> Score </th>
  </thead>
  <tbody>
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Score</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Score</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Score</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Score</td>
    </tr>
  </tbody>
</table>
